{% extends "backtrack/base.html" %}
{% block content %}
    <h1 class="page-header"><i class="fa fa-plus" id="A"></i> Add </h1>
    <div class="row placeholders"></div>
    <form action={% url 'add' pk=1 %} method="POST">
        {% csrf_token %}
       <div class="form-group">
           <label for="summary">Summary</label>
           <textarea rows="5" class="form-control" id="summary" name="summary"></textarea>
           <small id="priority-small-text" class="form-text text-muted">This is the summary for this PBI</small>
       </div>
       <div class="form-group">
           <label for="story-points">Story Points</label>
           <input type="text" class="form-control" id="story-points" name="story-points">
           <small id="priority-small-text" class="form-text text-muted">This is the Story Points for this PBI</small>
       </div>
       <div class="form-group">
           <label for="effort-hours">Effort Hours</label>
           <input type="text" class="form-control" id="effort-hours" name="effort-hours">
           <small id="priority-small-text" class="form-text text-muted">This is the Effort hours for this PBI</small>
       </div>
       <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
{% endblock content %}