{% extends "backtrack/base.html" %}
{% block content %}
    <h1 class="page-header"><i class="fa fa-plus" id="A"></i> Add </h1>
    <div class="row placeholders"></div>
    <form action={% url 'add' pk=1 %} method="POST">
        {{ form.non_field_errors }}
        {% csrf_token %}
       <div class="form-group">
            {{form.summary.errors}}
            {{form.summary.label_tag}}
            {{form.summary}}
           <small id="priority-small-text" class="form-text text-muted">This is the summary for this PBI</small>
       </div>
       <div class="form-group">
            {{form.story_points.errors}}
            {{form.story_points.label_tag}}
            {{form.story_points}}
           <small id="priority-small-text" class="form-text text-muted">This is the Story Points for this PBI</small>
       </div>
       <div class="form-group">
            {{form.effort_hours.errors}}
            {{form.effort_hours.label_tag}}
            {{form.effort_hours}}
           <small id="priority-small-text" class="form-text text-muted">This is the Effort hours for this PBI</small>
       </div>
       <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
{% endblock content %}