{% extends "backtrack/base.html" %}
{% block content %}
    <h1 class="page-header"><i class="fa fa-plus" id="A"></i> Add </h1>
    <div class="row placeholders"></div>
    <form action={% url 'create-project' %} method="POST">
        {{ form.non_field_errors }}
        {% csrf_token %}
       <div class="form-group">
            {{form.name.errors}}
            {{form.name.label_tag}}
            {{form.name}}
           <small id="priority-small-text" class="form-text text-muted">This is the name for the project</small>
       </div>
       
       <div class="float-md-left" style="width: 500px;">
            <ul class="list-group" style="margin-top: 2em;">
                {% for user in users %}
                            
                    <li class="list-group-item"  style="margin-top: 2em;">{{user}}</li> 
                    <button type="button" class="btn btn-primary">Send Invite</button>
                {% endfor %}
            </ul>
       </div>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
{% endblock content %}