{% extends "backtrack/base.html" %}
{% block content %}
    <h1 class="page-header"><i class="fa fa-edit" id="A"></i> Edit </h1>
    <div class="row placeholders"></div>
   <form>
       <div class="form-group">
           <label for="priority">Priority</label>
           <input type="text" class="form-control" id="priority">
           <small id="priority-small-text" class="form-text text-muted">This is the Product Backlog Priority for this PBI</small>
       </div>
       <div class="form-group">
           <label for="priority">Summary</label>
           <input type="text" class="form-control" id="summary">
           <small id="priority-small-text" class="form-text text-muted">This is the summary for this PBI</small>
       </div>
       <div class="form-group">
           <label for="priority">Story Points</label>
           <input type="text" class="form-control" id="story-points">
           <small id="priority-small-text" class="form-text text-muted">This is the Story Points for this PBI</small>
       </div>
       <div class="form-group">
           <label for="priority">Cumulative Story Points</label>
           <input type="text" class="form-control" id="cum-story-points">
           <small id="priority-small-text" class="form-text text-muted">This is the Cumulative Story Points for this PBI</small>
       </div>
       <div class="form-group">
           <label for="priority">Effort Hours</label>
           <input type="text" class="form-control" id="effort-hours">
           <small id="priority-small-text" class="form-text text-muted">This is the Effort hours for this PBI</small>
       </div>
       <div class="form-group">
           <label for="priority">Cumulative Effort Hours</label>
           <input type="text" class="form-control" id="cum-effort-hours">
           <small id="priority-small-text" class="form-text text-muted">This is the Cumulative Effort hours for this PBI</small>
       </div>
       <button type="submit" class="btn btn-primary">Confirm</button>
   </form>
{% endblock content %}