{% extends "backtrack/base.html" %}
{% block content %}
<ul class="messages" style="padding:0;">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %} style="list-style:none">{{ message }}</li>
            {% endfor %}
    </div>
    {% endif %}
</ul>
<div class="float-md-center" style="width: 500px;margin: auto">
    <h3>Developers:</h3>
    <ul class="list-group" style="margin-top: 2em;">
        {% for user in users %}

        <li class="list-group-item" style="margin-top: 2em;">
            <div class="row">
                <div class="col-xs-2">
                    <h4>
                        {{user}}
                    </h4>
                </div>
                <div class="col-xs-10">
                    <button type="button" class="btn btn-primary" id="{{user.id}}" style="float: right;">Send
                        Invite</button>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<script>
    $(document).ready(function () {
        $('.btn').click(function () {
            if (this.id) {
                const url = "{% url 'email-member' pk=Project.id %}"
                var message = $("#403")
                var $button = $(this)
                console.log(message)
                message.css("display", "block")
                $.ajax({
                    type: "GET",
                    url: url,
                    data: {
                        "id": this.id
                    },
                    success: function (data) {
                        $button.toggleClass("btn-primary btn-default").text('Sent');
                        $button.delay(10000).queue(function (next) {
                            $button.toggleClass("btn-default btn-primary").text(
                                'Send Invite')
                            next();
                        })
                    },
                    error: function (data) {
                        $("ul.messages").append(
                            '<div class="alert alert-danger alert-dismissible"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <li class = "error" style = "list-style:none" > User does not have an email </li> </div>')
                    }

                });
            }
        })
    })
</script>

{% endblock content %}