{% extends "backtrack/base.html" %}
{% block content %}
    <h1 class="page-header"><i class="fa fa-file"></i> Product BackLog</h1>
    <div class="row placeholders"></div>
    <h2 class="sub-header">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle pull-left" type="button" data-toggle="dropdown">Filter By
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Priority</a></li>
                    <li><a href="#">Story Points</a></li>
                    <li><a href="#">Effort Hours</a></li>
                </ul>
                <button type="button" class="btn btn-light"><i class="fa fa-plus" id="A"></i>ADD</button>
                <button type="button" class="btn btn-light"><i class="fa fa-times" id="A"></i>DELETE</button>
                <button type="button" class="btn btn-light"><i class="fa fa-edit" id="A"></i>EDIT</button>
        </div>
    </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> </th>
                    <th>Priority</th>
                    <th>Summary</th>
                    <th>Status</th>
                    <th>Story Points</th>
                    <th>Cumulative Story Points</th>
                    <th>Effort hours</th>
                    <th>Cumulative Effort hours</th>
                </tr>
            </thead>
            <tbody>
                {% for PBI in data %}
                    <tr>
                    <td><input type="checkbox"></td>
                    <td>{{PBI.priority}}</td>
                    <td>{{PBI.summary}}</td>
                    <td>
                    {% if PBI.status == "N" %}
                        Not Done
                    {% elif PBI.status == "P" %}
                        In Progress
                    {% else %}    
                        Done
                    {% endif %}
                    </td>
                    <td>{{PBI.story_points}}</td>
                    <td>{{PBI.sum_story_points}}</td>
                    <td>{{PBI.effort_hours}}</td>
                    <td>{{PBI.sum_effort_hours}}</td>
                    </tr>

                {% empty %}
                    <p>There are currently no PBIs</p>   
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
