{% extends "backtrack/base.html" %}
{% block content %}
    <h1 class="page-header"><i class="fa fa-file"></i> Product BackLog</h1>
    <div class="row placeholders"></div>
    <h2 class="sub-header">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle pull-left" type="button" data-toggle="dropdown">Filter By
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Priority</a></li>
                    <li><a href="#">Story Points</a></li>
                    <li><a href="#">Effort Hours</a></li>
                </ul>
                <button type="button" class="btn btn-light" ><a href="{% url 'add' pk=1 %}" style="text-decoration: none; color: black"><i class="fa fa-plus" id="A"></i>ADD</a></button>
                <button type="button" class="btn btn-light"><i class="fa fa-times" id="A"></i>DELETE</button>
        </div>
    </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> </th>
                    <th>Priority</th>
                    <th>Summary</th>
                    <th>Status</th>
                    <th>Story Points</th>
                    <th>Cumulative Story Points</th>
                    <th>Effort hours</th>
                    <th>Cumulative Effort hours</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td><a href="{% url 'edit' pk=1 %}" style="text-decoration: none; color: black">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></td>
                    <td>In Progress</td>
                    <td>10</td>
                    <td>10</td>
                    <td>5</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>2</td>
                    <td><a href="{% url 'edit' pk=1 %}" style="text-decoration: none; color: black">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></td>
                    <td>In Progress</td>
                    <td>10</td>
                    <td>20</td>
                    <td>5</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>3</td>
                    <td><a href="{% url 'edit' pk=1 %}" style="text-decoration: none; color: black">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></td>
                    <td>Not Done</td>
                    <td>10</td>
                    <td>30</td>
                    <td>5</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>4</td>
                    <td><a href="{% url 'edit' pk=1 %}" style="text-decoration: none; color: black">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></td>
                    <td>Not Done</td>
                    <td>10</td>
                    <td>40</td>
                    <td>5</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>5</td>
                    <td><a href="{% url 'edit' pk=1 %}" style="text-decoration: none; color: black">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></td>
                    <td>Not Done</td>
                    <td>10</td>
                    <td>50</td>
                    <td>5</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>6</td>
                    <td><a href="{% url 'edit' pk=1 %}" style="text-decoration: none; color: black">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></td>
                    <td>Done</td>
                    <td>10</td>
                    <td>60</td>
                    <td>5</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>7</td>
                    <td><a href="{% url 'edit' pk=1 %}" style="text-decoration: none; color: black">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></td>
                    <td>Done</td>
                    <td>10</td>
                    <td>70</td>
                    <td>5</td>
                    <td>35</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>8</td>
                    <td><a href="{% url 'edit' pk=1 %}" style="text-decoration: none; color: black">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></td>
                    <td>Done</td>
                    <td>10</td>
                    <td>80</td>
                    <td>5</td>
                    <td>40</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}
