{% extends "backtrack/base.html" %}
{% block content %}

<ul class="messages" style="padding:0;">
    {% if messages %}
    {% for message in messages %}
    <div class="alert 
        {% if message.tags == "success" %} alert-success {% endif %}
         {% if message.tags == "error" %} alert-danger {% endif %} 
         alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %} style="list-style:none">{{ message }}</li>
            {% endfor %}
    </div>
    {% endif %}
    {% if sprint.available is False %}
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <li style="list-style:none"> The Sprint has already been completed</li>
    </div>
    {% endif %}
</ul>

<div>
    <div class="col-md-10">
        <h1 class="page-header"><i class="fa fa-print"></i> Sprint Backlog </h1>
    </div>
    {% if sprint.available is True %}
    {% if ProjectParticipant.role == "DT" %}
    <div class="col-md-2">
        <button type="button" id="complete-sprint" class="btn btn-primary btn-sm page-header"
            style="font-size:1.2em">Complete
            Sprint</button>
    </div>
    {% endif %}
    {% endif %}
</div>

<div class="sub-header">
    <div class="col-md-3">
        <div class="card card-default">
            <div class="card-body box-shadow">
                <p class="lead medium-text bold-text card-body-margin-fix">Total capacity</p>
                <p class="lead bold-text">{{sprint.capacity}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-default box-shadow">
            <div class="card-body">
                <p class="lead medium-text bold-text card-body-margin-fix">Remaining capacity</p>
                <p class="lead bold-text">{{sprint.remainingCapacity}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-default box-shadow">
            <div class="card-body">
                <p class="lead medium-text bold-text card-body-margin-fix">Remaining Hours</p>
                <p class="lead bold-text">{{sprint.remainingHours}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-default box-shadow">
            <div class="card-body">
                <p class="lead medium-text bold-text card-body-margin-fix">Remaining Days</p>
                <p class="lead bold-text">{{sprint.remainingDays}}</p>
            </div>
        </div>
    </div>
</div>


<table class="table table-striped" id="product-backlog">
    <col width=10%>
    <col width=26%>
    <col width=26%>
    <col width=26%>
    <col width=5%>
    <col width=5%>
    <thead>
        <tr>
            <th style="text-align: center;">
                <h3>PBI</h3>
            </th>
            <th style="text-align: center;">
                <h3>Not Done</h3>
            </th>
            <th style="text-align: center;">
                <h3>In Progress</h3>
            </th>
            <th style="text-align: center;">
                <h3>Done</h3>
            </th>
            <th style="text-align: center;">
                <h3>Burndown</h3>
            </th>
            <th style="text-align: center;">
                <h3>Remaining Effort Hours</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for PBI in data %}
        <tr>
            <td>
                <a href="{% url 'detail-pbi' pk=Project.id pbipk=PBI.id  %}">
                    <h4 style="color: black;text-align: center;margin: 2rem 0;" class="bold-text">{{ PBI.summary }}</h4>
                </a>
                <div style="text-align: center;">
                    {% if ProjectParticipant.role == "DT" and PBI.status != "D" and sprint.available %}
                    <a href="{% url 'add-task' pk=Project.id spk=sprint.id pbipk=PBI.id%}"
                        style="text-decoration: none; color: black"><i class="fa fa-plus" id="add"></i> ADD TASK</a>
                    <hr>
                    <a href="{% url 'remove-pbi-from-sprint' pk=Project.id spk=sprint.id pbipk=PBI.id%}"
                        style="text-decoration: none; color: black"><i class="fa fa-minus" id="add"></i> REMOVE PBI FROM
                        SPRINT</a>
                    {% endif %}
                </div>
            </td>

            <!-- For tasks Not Done -->
            <td class="container">
                <div>
                    {% for pbiTaskList in task %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                    <!-- If the PBI of the inner loop equals the PBI in the outer loop -->
                    <div class="row">
                        {% for tk in pbiTaskList %}
                        {% if tk.status == 'N' and tk.pbi.id == PBI.id %}
                        <div class="col-lg-6">
                            <div class="card card-default align-items-center">
                                <div class="card-body text-center">
                                    {% if ProjectParticipant.role == "DT" %}
                                    <p class="card-body-margin-fix"><a
                                            style="text-decoration: none; color: cornflowerblue;"
                                            href={% url 'detail-task' pk=Project.id spk=sprint.id taskpk=tk.id %}>
                                            {{ tk.summary }} </a></p>
                                    {% else %}
                                    <p class="card-body-margin-fix"><a
                                            style="text-decoration: none; color: cornflowerblue;" href="#">
                                            {{ tk.summary }} </a></p>
                                    {% endif %}
                                    <p class="card-body-margin-fix"> {{ tk.effort_hours }}</p>
                                    {% if tk.projectParticipant.user.username %}
                                    <p class="card-body-margin-fix">{{tk.projectParticipant.user.username}}</p>
                                    {% else %}
                                    <p class="card-body-margin-fix"> Not assigned </p>
                                    {% endif %}
                                    <p class="hidden-display"> {{ tk.id }}</p>
                                    {% if sprint.available %}
                                    <div class="card-footer text-center">
                                        {% if ProjectParticipant.role == "DT" %}
                                        <button type="button" class="btn btn-primary btn-sm not-done">Start</button>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                    {% endif %}
                    {% endfor %}
            </td>

            <!-- For tasks In Progress -->
            <td class="container">
                <div>
                    {% for pbiTaskList in task %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                    <!-- If the PBI of the inner loop equals the PBI in the outer loop -->
                    <div class="row">
                        {% for tk in pbiTaskList %}
                        {% if tk.status == 'P' and tk.pbi.id == PBI.id %}
                        <div class="col-lg-6">
                            <div class="card card-default align-items-center">
                                <div class="card-body text-center">
                                    {% if ProjectParticipant.role == "DT" %}
                                    <p class="card-body-margin-fix"><a
                                            style="text-decoration: none; color: cornflowerblue;"
                                            href={% url 'detail-task' pk=Project.id spk=sprint.id taskpk=tk.id %}>
                                            {{ tk.summary }} </a></p>
                                    {% else %}
                                    <p class="card-body-margin-fix"><a
                                            style="text-decoration: none; color: cornflowerblue;" href="#">
                                            {{ tk.summary }} </a></p>
                                    {% endif %}
                                    <p class="card-body-margin-fix"> {{ tk.effort_hours }}</p>
                                    <p class="card-body-margin-fix">{{tk.projectParticipant.user.username}}</p>
                                    <p class="hidden-display"> {{ tk.id }}</p>
                                    <div class="card-footer" style="padding: 1px 5px 5px 4px">
                                        {% if sprint.available %}
                                        <div class="row">
                                            {% if ProjectParticipant.role == "DT" %}
                                            <div class="col-lg-6"><button type="button"
                                                    class="btn btn-primary btn-sm in-progress-first"
                                                    style="padding: 1px;font-size:0.8em"> Not Done
                                                </button></div>
                                            <div class="col-lg-6"><button type="button"
                                                    class="btn btn-primary btn-sm in-progress-second"
                                                    style="padding: 1px;font-size:0.8em">
                                                    Done</button></div>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </td>

            <!-- For tasks Done -->
            <td class="container">
                <div>
                    {% for pbiTaskList in task %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                    <!-- If the PBI of the inner loop equals the PBI in the outer loop -->
                    <div class="row">
                        {% for tk in pbiTaskList %}
                        {% if tk.status == 'D' and tk.pbi.id == PBI.id %}
                        <div class="col-lg-6">
                            <div class="card card-default align-items-center">
                                <div class="card-body text-center">
                                    {% if ProjectParticipant.role == "DT" %}
                                    <p class="card-body-margin-fix"><a
                                            style="text-decoration: none; color: cornflowerblue;"
                                            href={% url 'detail-task' pk=Project.id spk=sprint.id taskpk=tk.id %}>
                                            {{ tk.summary }} </a></p>
                                    {% else %}
                                    <p class="card-body-margin-fix"><a
                                            style="text-decoration: none; color: cornflowerblue;" href="#">
                                            {{ tk.summary }} </a></p>
                                    {% endif %}
                                    <p class="card-body-margin-fix"> {{ tk.effort_hours }}</p>
                                    <p class="card-body-margin-fix">{{tk.projectParticipant.user.username}}</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </td>

            <!-- Burndown-->
            <td height="100" style="text-align: right;">
                {{PBI.burndown}}
            </td>

            <!-- Remaining Effort Hours-->
            <td height="100" style="text-align: right;">
                {{PBI.remainingEffortHours}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<script>
    $(document).ready(function () {

        if (localStorage.getItem("Message")) {
            var msg = localStorage.getItem("Message")
            $("ul.messages").append(
                '<div class="alert alert-success alert-dismissible"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <li class = "error" style = "list-style:none" > ' +
                msg + '</li> </div>')
            localStorage.clear();
        }

        var token = '{{csrf_token}}';

        $("#complete-sprint").click(function () {
            var projectID = "{{Project.id}}"
            var sprintID = "{{sprint.id}}"
            const url = "{% url 'complete-sprint' pk=123 spk=666 %}".replace('123',
                projectID).replace('666', sprintID)

            $.ajax({
                type: "POST",
                headers: {
                    "X-CSRFToken": token
                },
                url: url,
                success: function (data) {
                    var msg = data.success
                    localStorage.setItem("Message", msg)
                    window.location.reload();
                },
                error: function (data) {
                    var err = data.responseJSON.error
                    $("ul.messages").append(
                        '<div class="alert alert-danger alert-dismissible"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <li class = "error" style = "list-style:none" >' +
                        err + '</li> </div>')
                }

            });
        })


        $(".not-done").click(function () {
            const taskid = $(this).closest(".card-body").find('p.hidden-display').text()
            const url = "{% url 'task-in-progress' %}"
            const projectID = "{{Project.id}}"

            $.ajax({
                type: "POST",
                headers: {
                    "X-CSRFToken": token
                },
                url: url,
                data: JSON.stringify({
                    "Task": taskid,
                    "ProjectID": projectID
                }),
                success: function (data) {
                    var msg = data.success
                    localStorage.setItem("Message", msg)
                    window.location.reload();
                },
                error: function (data) {
                    var err = data.responseJSON.error
                    $("ul.messages").append(
                        '<div class="alert alert-danger alert-dismissible"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <li class = "error" style = "list-style:none" >' +
                        err + '</li> </div>')
                }

            });
        })

        $(".in-progress-first").click(function () {
            const taskid = $(this).closest(".card-body").find('p.hidden-display').text()
            const url = "{% url 'task-not-done' %}"
            const projectID = "{{Project.id}}"

            $.ajax({
                type: "POST",
                headers: {
                    "X-CSRFToken": token
                },
                url: url,
                data: JSON.stringify({
                    "Task": taskid,
                    "ProjectID": projectID
                }),
                success: function (data) {
                    var msg = data.success
                    localStorage.setItem("Message", msg)
                    window.location.reload();
                },
                error: function (data) {
                    var err = data.responseJSON.error
                    $("ul.messages").append(
                        '<div class="alert alert-danger alert-dismissible"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <li class = "error" style = "list-style:none" >' +
                        err + '</li> </div>')
                }

            });
        })

        $(".in-progress-second").click(function () {
            const taskid = $(this).closest(".card-body").find('p.hidden-display').text()
            const url = "{% url 'task-done' %}"
            const projectID = "{{Project.id}}"
            const homeUrl = "{% url 'home' %}"

            $.ajax({
                type: "POST",
                headers: {
                    "X-CSRFToken": token
                },
                url: url,
                data: JSON.stringify({
                    "Task": taskid,
                    "ProjectID": projectID
                }),
                success: function (data) {
                    var msg = data.success
                    if (data.status_code == 302) {
                        localStorage.setItem("Message", msg)
                        window.location.href = homeUrl
                    } else {
                        localStorage.setItem("Message", msg)
                        window.location.reload();
                    }
                },
                error: function (data) {
                    var err = data.responseJSON.error
                    $("ul.messages").append(
                        '<div class="alert alert-danger alert-dismissible"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <li class = "error" style = "list-style:none" >' +
                        err + '</li> </div>')
                }

            });
        })
    });
</script>
{% endblock content %}