{% extends "backtrack/base.html" %}
{% block content %}
<h1 class="page-header"><i class="fa fa-print"></i> Sprint Details </h1>
<div class="row placeholders"></div>
    <table class="table table-striped" id="product-backlog">
            <thead>
                <tr>
                    <th>PBI</th>
                    <th style="padding-left: 105px">Not Done</th>
                    <th style="padding-left: 85px">In Progress</th>
                    <th style="padding-left: 105px">Done</th>
                </tr>
            </thead>
            <tbody>
                {% for PBI in data %}
                <tr>
                    <td style="color: cornflowerblue">
                        {{ PBI.summary }}
                        <br>
                        {% if ProjectParticipant.role == "DT" %}
                            <a href="{% url 'add-task' pk=Project.id spk=sprint.id pbipk=PBI.id%}" style="text-decoration: none; color: black"><i
                            class="fa fa-plus" id="add"></i>ADD</a>
                        {% endif %}
                    </td>
                    <td>
                      <div style="height: 110px; overflow: scroll">
                        <table class="table table-borderless" style="width: 80%;">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="text-align: center">
                                        Summary
                                    </th>
                                    <th style="text-align: center">
                                        Effort hours
                                    </th>
                                </tr>
                            </thead>
                            {% for tk in task %}
                            {% if tk.status == 'N' and tk.pbi.id == PBI.id %}
                            <tr>
                                <td style="text-align: center">
                                    {{ tk.summary }}
                                </td>
                                <td style="text-align: center">
                                    {{ tk.effort_hours }}
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </table>
                      </div>
                    </td>
                    <td>
                      <div style="height: 110px; overflow: scroll">
                        <table class="table table-borderless" style="width: 80%;">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="text-align: center">
                                        Summary
                                    </th>
                                    <th style="text-align: center">
                                        Effort hours
                                    </th>
                                </tr>
                            </thead>
                            {% for tk in task %}
                            {% if tk.status == 'P' and tk.pbi.id == PBI.id%}
                            <tr>
                                <td style="text-align: center">
                                    {{ tk.summary }}
                                </td>
                                <td style="text-align: center">
                                    {{ tk.effort_hours }}
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </table>
                      </div>
                    </td>
                    <td>
                      <div style="height: 110px; overflow: scroll">
                        <table class="table table-borderless" style="width: 80%;">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="text-align: center">
                                        Summary
                                    </th>
                                    <th style="text-align: center">
                                        Effort hours
                                    </th>
                                </tr>
                            </thead>
                            {% for tk in task %}
                            {% if tk.status == 'D' and tk.pbi.id == PBI.id%}
                            <tr>
                                <td style="text-align: center">
                                    {{ tk.summary }}
                                </td>
                                <td style="text-align: center">
                                    {{ tk.effort_hours }}
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </table>
                      </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
</div>

<script>
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)')
            .exec(window.location.search);

        return (results !== null) ? results[1] || 0 : false;
    }
    $(document).ready(function () {
        if ($.urlParam('all') == '1') {
            $(this).find('.toggle').toggleClass('active');

            if ($(this).find('.btn-primary').length > 0) {
                $(this).find('.toggle').toggleClass('btn-primary');
            }
        }
        var getUrl = window.location;
        var baseUrl = getUrl.protocol + "//" + getUrl.host + getUrl.pathname;
        $('.btn-toggle').click(function () {
            if ($.urlParam('all') == '0')
                window.location.replace(baseUrl + "?all=1");
            else
                window.location.replace(baseUrl + "?all=0");
        })

    });
</script>
{% endblock content %}