{% extends "backtrack/base.html" %}
{% block content %}
<h1 class="page-header"><i class="fa fa-print"></i> Sprint Details </h1>
{% if messages %}
<ul class="messages" style="padding:0;">
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %} style="list-style:none">{{ message }}</li>
            {% endfor %}
    </div>

</ul>
{% endif %}
<div class="row placeholders"></div>
{% for task in data %}
{{ task.summary }}
{{ task.story_points }}
{% endfor %}
{% endblock content %}