{% extends "backtrack/base.html" %}
{% block content %}
    <h1 class="page-header"><i class="fa fa-edit"></i> Edit Task </h1>
    <div class="row placeholders"></div>
    <form action={% url 'detail-task' pk=Project.id spk=sprint.id taskpk=Task.id %} method="POST">
        {{ form.non_field_errors }}
        {% csrf_token %}
       <div class="form-group">
            {{form.status.errors}}
            {{form.status.label_tag}}
            {{form.status}}
           <small id="priority-small-text" class="form-text text-muted">This is the status for this Task</small>
       </div>
       <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
{% endblock content %}