{% extends "backtrack/base.html" %}
{% block content %}
    <h1 class="page-header"><i class="fa fa-edit"></i> Edit Task </h1>
    <div class="row placeholders"></div>
    <form action={% url 'detail-task' pk=Project.id spk=sprint.id taskpk=Task.id %} method="POST">
        {{ form.non_field_errors }}
        {% csrf_token %}
       <div class="form-group">
            {{form.summary.errors}}
            {{form.summary.label_tag}}
            {{form.summary}}
           <small id="priority-small-text" class="form-text text-muted">This is the summary for this Task</small>
       </div>
       <div class="form-group">
            {{form.effort_hours.errors}}
            {{form.effort_hours.label_tag}}
            {{form.effort_hours}}
           <small id="priority-small-text" class="form-text text-muted">This is the Effort hours for this Task</small>
       </div>
       <div class="form-group">
            {{form.projectParticipant.errors}}
            {{form.projectParticipant.label_tag}}
            {{ form.projectParticipant }}
           <small id="priority-small-text" class="form-text text-muted">This is the Project participant responsible for this Task</small>
       </div>
       {% if Task.status == 'N' %}
       <button type="submit" class="btn btn-primary">Confirm</button>
       {% endif %}
    </form>
    {% csrf_token %}
    {% if Task.status == "N" %}
    <a id="Delete" href="{% url 'delete-task' pk=Project.id spk=sprint.id taskpk=Task.id %}" type="submit" class="btn btn-danger"
        style="height:2.4em;width:5em;text-align: center; margin-top: 0.5em;">Delete</a>
    {% endif %}
    
    <form action={% url 'task-in-progress' %} method="POST">
    {% csrf_token %}
    {% if Task.status == 'N' %}
        <input type="hidden" value={{Task.id}} name='Task' />
        <input type="hidden" value={{Project.id}} name="ProjectID" />
        <input type="hidden" value={{sprint.id}} name="SprintID" />
       <button type="submit" class="btn btn-primary">Start</button>
    {% endif %}
    </form>

    {% if Task.status == 'P' %}
    <form action={% url 'task-done' %} method="POST">
        {% csrf_token %}
        
            <input type="hidden" value={{Task.id}} name='Task' />
            <input type="hidden" value={{Project.id}} name="ProjectID" />
            <input type="hidden" value={{sprint.id}} name="SprintID" />
           <button type="submit" class="btn btn-primary">Finish</button>
    </form>
    <form action={% url 'task-not-done' %} method="POST">
        {% csrf_token %}
        
            <input type="hidden" value={{Task.id}} name='Task' />
            <input type="hidden" value={{Project.id}} name="ProjectID" />
            <input type="hidden" value={{sprint.id}} name="SprintID" />
           <button type="submit" class="btn btn-primary">Not Done</button>
        
    </form>
    {% endif %}
{% endblock content %}